:root {
   /* Brand palette */
   --vx-primary: hsl(202, 100%, 50%);
   --vx-primary-600: hsl(202, 100%, 40%);
   --vx-accent: #00b894;
   --vx-dark: #0f172a;
   --vx-muted: #64748b;
   --vx-bg: #ffffff;
   --vx-overlay: hsla(0, 0%, 0%, 0.3);
   --vx-red: #ff0054;
   --vx-border-color: #dee2e6;

   /* Typography */
   --vx-font-base: 'Instrument Sans', sans-serif;

   /* Layout */
   --vx-container: 100%;
   --vx-radius: 16px;
   --vx-ring: 2px;

   /* padding */
   --vx-padding: 1.25rem;

   /* custom width */
   --vx-logo-width: 120px;

   /* height */
   --vx-navbar-height: 3.125rem;
}

@media (width >= 576px) {
   :root {
      --vx-container: 540px;
   }
}

@media (width >= 768px) {
   :root {
      --vx-container: 720px;
   }
}

@media (width >= 992px) {
   :root {
      --vx-container: 960px;
   }
}

@media (width >= 1200px) {
   :root {
      --vx-container: 1140px;
   }
}

@media (width >= 1400px) {
   :root {
      --vx-container: 1366px;
   }
}
